<%= form_with(model: tournament_user, local: true) do |form| %>
  <% if tournament_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament_user.errors.count, "error") %> prohibited this tournament_user from being saved:</h2>

      <ul>
        <% tournament_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :tournament_id %>
    <%= form.text_field :tournament_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
