<p id="notice"><%= notice %></p>

<h1>Tournament Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Tournament</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournament_users.each do |tournament_user| %>
      <tr>
        <td><%= tournament_user.user_id %></td>
        <td><%= tournament_user.tournament_id %></td>
        <td><%= link_to 'Show', tournament_user %></td>
        <td><%= link_to 'Edit', edit_tournament_user_path(tournament_user) %></td>
        <td><%= link_to 'Destroy', tournament_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament User', new_tournament_user_path %>
