<%= form_with(model: war, local: true) do |form| %>
  <% if war.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(war.errors.count, "error") %> prohibited this war from being saved:</h2>

      <ul>
        <% war.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :guild_1_id %>
    <%= form.text_field :guild_1_id %>
  </div>

  <div class="field">
    <%= form.label :guild_2_id %>
    <%= form.text_field :guild_2_id %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.datetime_select :end %>
  </div>

  <div class="field">
    <%= form.label :prize %>
    <%= form.number_field :prize %>
  </div>

  <div class="field">
    <%= form.label :max_unanswered %>
    <%= form.number_field :max_unanswered %>
  </div>

  <div class="field">
    <%= form.label :addons_id %>
    <%= form.text_field :addons_id %>
  </div>

  <div class="field">
    <%= form.label :guild_1_wins %>
    <%= form.number_field :guild_1_wins %>
  </div>

  <div class="field">
    <%= form.label :guild_2_wins %>
    <%= form.number_field :guild_2_wins %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
