<p id="notice"><%= notice %></p>

<h1>Wars</h1>

<table>
  <thead>
    <tr>
      <th>Guild 1</th>
      <th>Guild 2</th>
      <th>Start</th>
      <th>End</th>
      <th>Prize</th>
      <th>Max unanswered</th>
      <th>Addons</th>
      <th>Guild 1 wins</th>
      <th>Guild 2 wins</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wars.each do |war| %>
      <tr>
        <td><%= war.guild_1_id %></td>
        <td><%= war.guild_2_id %></td>
        <td><%= war.start %></td>
        <td><%= war.end %></td>
        <td><%= war.prize %></td>
        <td><%= war.max_unanswered %></td>
        <td><%= war.addons_id %></td>
        <td><%= war.guild_1_wins %></td>
        <td><%= war.guild_2_wins %></td>
        <td><%= link_to 'Show', war %></td>
        <td><%= link_to 'Edit', edit_war_path(war) %></td>
        <td><%= link_to 'Destroy', war, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New War', new_war_path %>
