<%= form_with(model: message, id: "NewMessageForm", local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :room_id, value: room.id %>

  <div class="input-group">
    <%= form.text_field :content, placeholder: "Type your message here...", class: 'form-control' %>
    <div class="input-group-append">
      <%= form.submit "Add Message", id: "AddMessage", class: "btn btn-primary", data: { disable_with: false }%>
        
        <script type="text/javascript">
          // AddMessage.onclick = function() {
          //   console.log("1111");
          //   var block = document.getElementById("messages");
          //   block.scrollTop = block.scrollHeight;
          //   console.log("222");
          //   // document.getElementById("message_content").value = "";
          // }
          $( "#NewMessageForm" ).submit(function(event) {
            event.preventDefault();
            this.submit();
            this.reset();
            var block = document.getElementById("messages");
            block.scrollTop = block.scrollHeight;
          });
        </script>

    </div>
  </div>
<% end %>