<p id="notice"><%= notice %></p>

<h1>War Matches</h1>

<table>
  <thead>
    <tr>
      <th>Match</th>
      <th>War</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @war_matches.each do |war_match| %>
      <tr>
        <td><%= war_match.match_id %></td>
        <td><%= war_match.war_id %></td>
        <td><%= link_to 'Show', war_match %></td>
        <td><%= link_to 'Edit', edit_war_match_path(war_match) %></td>
        <td><%= link_to 'Destroy', war_match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New War Match', new_war_match_path %>
