<%= form_with(model: blocklist, local: true) do |form| %>
  <% if blocklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blocklist.errors.count, "error") %> prohibited this blocklist from being saved:</h2>

      <ul>
        <% blocklist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :blocked_user_id %>
    <%= form.text_field :blocked_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
