<%= form_with(model: addon, local: true) do |form| %>
  <% if addon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(addon.errors.count, "error") %> prohibited this addon from being saved:</h2>

      <ul>
        <% addon.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :addon1 %>
    <%= form.check_box :addon1 %>
  </div>

  <div class="field">
    <%= form.label :addon2 %>
    <%= form.check_box :addon2 %>
  </div>

  <div class="field">
    <%= form.label :addon3 %>
    <%= form.check_box :addon3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
