<p id="notice"><%= notice %></p>

<p>
  <strong>Addon1:</strong>
  <%= @addon.addon1 %>
</p>

<p>
  <strong>Addon2:</strong>
  <%= @addon.addon2 %>
</p>

<p>
  <strong>Addon3:</strong>
  <%= @addon.addon3 %>
</p>

<%= link_to 'Edit', edit_addon_path(@addon) %> |
<%= link_to 'Back', addons_path %>
