<%= form_with(model: war_match, local: true) do |form| %>
  <% if war_match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(war_match.errors.count, "error") %> prohibited this war_match from being saved:</h2>

      <ul>
        <% war_match.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :match_id %>
    <%= form.text_field :match_id %>
  </div>

  <div class="field">
    <%= form.label :war_id %>
    <%= form.text_field :war_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
