<p id="notice"><%= notice %></p>

<p>
  <strong>Match:</strong>
  <%= @war_match.match_id %>
</p>

<p>
  <strong>War:</strong>
  <%= @war_match.war_id %>
</p>

<%= link_to 'Edit', edit_war_match_path(@war_match) %> |
<%= link_to 'Back', war_matches_path %>
