<!DOCTYPE html>
<html>

<head>
	<title>Pingpong</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<!--
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<%= stylesheet_pack_tag 'application', media: 'all' %>
	<%= javascript_pack_tag 'application' %>
</head>

<body>
	<% if user_signed_in? %>
		<div class="all_page">
			<%= render 'layouts/navbar' %>
			<div class="content">
				<% flash.each do |message_type, message| %>
				<div class="alert alert-<%= message_type %>"><%= message %></div>
				<% end %>
	<% end %>

			<div data-behavior="devise-error-messages">
				<%= render "devise/shared/error_messages", resource: resource %>
			</div>
			<div data-behavior="flashes">
				<%= render partial: "layouts/flashes", local: { flash: flash } %>
			</div>

			<%= yield %>
			</div>
		</div>
	<% if user_signed_in? %>
		<%= render 'layouts/footer' %>
	<% end %>
	<!-- <%= debug(params) if Rails.env.development? %> -->
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
</script>
<!--
  <%= javascript_pack_tag 'index' %>
  <%= javascript_pack_tag 'user' %>
  <%= javascript_pack_tag 'app' %>
  -->

</html>