<%= form_with(model: match, local: true) do |form| %>


  <div class="field">
    <%= form.label :player1_id %>
    <%= form.text_field :player1_id %>
  </div>

  <div class="field">
    <%= form.label :player2_id %>
    <%= form.text_field :player2_id %>
  </div>

  <div class="field">
    <%= form.label :player1_score %>
    <%= form.number_field :player1_score %>
  </div>

  <div class="field">
    <%= form.label :player2_score %>
    <%= form.number_field :player2_score %>
  </div>

  <div class="field">
    <%= form.label :guild1_id %>
    <%= form.text_field :guild1_id %>
  </div>

  <div class="field">
    <%= form.label :guild2_id %>
    <%= form.text_field :guild2_id %>
  </div>

  <div class="field">
    <%= form.label :addons_id %>
    <%= form.text_field :addons_id %>
  </div>

  <div class="field">
    <%= form.label :is_end %>
    <%= form.check_box :is_end %>
  </div>

  <div class="field">
    <%= form.label :is_inprogress %>
    <%= form.check_box :is_inprogress %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
