<h2>Edit profile - <%= current_user.nickname %></h2>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<!--
  <%= render "devise/shared/error_messages", resource: resource %>
-->
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= f.label :email, "Email" %><br />
  </div>
  <br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password %>
    <%= f.label :password, "New password" %> <i>(leave blank if you don't want to change it)</i><br />
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation %>
    <%= f.label :password_confirmation, "New password confirmation" %>
  </div>
  <br>

  <div class="field">
    <%= f.password_field :current_password %>
    <%= f.label :current_password, "Current password" %><br />
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<br>
<br>

<h4>Enable two factor authorization</h4>
<% if !current_user.otp_required_for_login %>
  <%= button_to "Enable 2FA", users_enable_otp_path, :method => :post %>
<% end %>
<% if current_user.otp_required_for_login %>
  <%= button_to "Disable 2FA", users_disable_otp_path, :method => :post %>
  <div class="col-4 text-center">
    <%= current_user.otp_qr_code.html_safe %>
  </div>
  <br>
<% end %>

<br>
<br>

<h4>Change nickname</h4>
<%= form_with model: @user, url: "update_nickname", method: :post do |f| %>
<div class="row">
  <div class="col-9">
    <%= f.text_field :nickname %>
  <div class="col-3">
    <%= f.submit "Update nickname" %>
</div>
<% end %>

<br>
<br>

<h4>Change avatar</h4>
<%= form_with model: @user, url: "update_avatar", method: :post, html: { multipart: true } do |f| %>
<div class="row">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="col-9">
    <%= f.file_field :avatar %>
  <div class="col-3">
    <%= f.submit "Update avatar" %>
</div>
<% end %>

<!--
<h4>Cancel my account</h4>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
-->

<br>
<br>

<%= link_to "Back", :back %>
