<h2>Edit profile - <%= current_user.nickname %></h2>
<br>

<h4>Enable 2 factor authentication</h4>
<% if !current_user.otp_required_for_login %>
  <%= form_with model: @user, url: "enable_otp", method: :post do |f| %>
    <div class="col-3">
      <%= f.submit "Enable 2FA", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
<% if current_user.otp_required_for_login %>
  <%= form_with model: @user, url: "disable_otp", method: :post do |f| %>
    <div class="col-3">
      <%= f.submit "Disable 2FA", class: "btn btn-primary" %>
    </div>
  <% end %>
  <div class="col-4 text-center">
    <%= current_user.otp_qr_code.html_safe %>
  </div>
  <br>
<% end %>

<br>
<br>

<h4>Change nickname</h4>
<%= form_with model: @user, url: "update_nickname", id: "up_nick", method: :post do |f| %>
<div class="row input-group">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="col-3">
    <%= f.text_field :nickname, class: 'form-control' %>
  <div class="col-3 input-group-append">
    <%= f.submit "Update nickname", id: "update_nickname_btn", class: "btn btn-primary" %>
      <script type="text/javascript">
        $("#update_nickname_btn").on('click', function(event) {
          event.preventDefault();
          fetch("/users/update_nickname", {
              method : "POST",
              body: new FormData(document.getElementById("up_nick")),
          })
          .then(res => res.json())
          .then(res => {
            if (res.error)
              alert(res.error)
            else
              Turbolinks.visit("/profile/0")
          })
        });
      </script>
    </div>
  </div>
</div>
<% end %>

<br>
<br>

<h4>Change avatar</h4>
<%= form_with model: @user, url: "update_avatar", id: "up_av", method: :post, html: { multipart: true } do |f| %>
<div class="row input-group">

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="col-9">

    <label class="btn btn-outline-primary">
    Choose file
    <span style="display:none;">
       <%= f.file_field :avatar %>
    </span>
  </label>
  <div class="col-3">
    <%= f.submit "Update avatar", id: "update_avatar_btn", class: "btn btn-primary" %>
      <script type="text/javascript">
        $("#update_avatar_btn").on('click', function(event) {
          event.preventDefault();
          fetch("/users/update_avatar", {
              method : "POST",
              body: new FormData(document.getElementById("up_av")),
          }).then(() => {
            Turbolinks.visit("/profile/0")
          })
        });
      </script>
    </div>
  </div>
</div>
<% end %>
